html, body{
    overflow-x: hidden;
}
main{
    min-height: 94vh;
}
.bg-light {
    background-color: #f8f9fa !important;
}
.bg-purple{
    background-color: #524fa1;
}
.mar-b20{
    margin-bottom: 20px;
}
.btn-t{
    background-color: transparent;
}
.btn.focus, .btn:focus {
    box-shadow: none !important;
}
.card-header{
    background-color: rgba(0,0,0,.01) !important;
}
.input-group-text {
    background-color: #524fa1 !important;
    color: #FFFFFF !important;
    min-width: 379px;
}
.form-check-input, .form-checkinput{
    padding: 0;
    margin:0 5px 0 0;
    position: relative;
    top: 1px;
    overflow: hidden;
}
.form-check {
    padding-left: 0px !important;
}
.btn-primary {
    color: #fff;
    background-color: #524fa1;
    border-color: #524fa1;
}
.btn-primary:hover {
    color: #fff;
    background-color: #6c8cc7;
    border-color: #6c8cc7;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fdb913;
    border-color: #fdb913;
}
.row{
    flex-wrap: wrap-reverse !important;
}
#rodape{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.modal-dialog {
    min-width: 60vw !important;
}